@tailwind base;
@tailwind components;
@tailwind utilities;



section.best-body {
    background-color: #042242;
  }
nav.best-body {
  background-color: #042242;
}

best-body {
  background-color: #F3BA16 ;
}